#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center ;
    float: center;
    padding: 3% !important;  
    box-shadow: 7px 7px 13px 0px rgba(90, 87, 87, 0.22);
    margin-bottom: 2%;
    background-color: rgb(255, 255, 255) !important;
}

.card{
    border-radius: 30px !important;
    border: 2px solid #bb8d10 !important;
    margin-bottom: 1px !important;
    transition: background-color 0.3s ease; /* Adiciona uma transição suave na mudança de cor de fundo */
    color: #bb8d10;
}

.card:hover{
    background-color:#bb8d10;
    color: #ffff;
}

.border-1{
    border-radius: 50px;
}

.img{
    font-size: 1.5em !important;
}

.center {
    margin: auto;
    width: 50%;
}

.nav-link {
    margin-right: 250px !important;
    font-size: 20px !important;
    color: rgb(97, 21, 21);
}

.bluenave{
    background-color:#d3d3d3 !important;
}

nav{
    font-family: 'Alfa Slab One', cursive;
    padding-left: 3em !important;
    padding-top: 0.4em !important;
    padding-bottom: 0.5em !important;
}

.home{
    font-size: 2em !important;
}
.log{
    background-color:#af1e0b !important;
    font-size: 1.5em !important;
    padding-right: 1.1em;
    border: none;
}

.no-underline{
    color: #bb8d10 !important;
    text-decoration: none;
}